html, body, main {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #A41A0D;
  color: #ebe9eb;
  text-transform: uppercase;
  padding: 5rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main .sup, main .meta {
  position: absolute;
  top: 50px;
}

main .sup {
  left: 50px;
  font-size: 3vw;
  text-shadow:
    0 0 .1em #000,
    0 0 .1em #000,
    0 0 .1em #000,
    0 0 .1em #000,
    0 0 .1em #000,
    0 0 .2em #000,
    0 0 .2em #000,
    0 0 .2em #000,
    0 0 .2em #000,
    .15em .15em .1em #000
    ;
}

main .meta {
  text-align: right;
  right: 25px;
  font-size: 2vw;
  color: #F7FFCA;
  letter-spacing: .2em;
}

main .meta span {
  background-color: #000;
}

main h1 {
  text-align: center;
  font-size: 8vw;
  -webkit-text-stroke: 2px #000;
  text-shadow:.5rem .5rem 0 #000;
  font-weight: 700;
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Paytone One', sans-serif; */
}


@media screen and (max-width: 768px) {
  main .sup {
    font-size: 6vw;
  }

  main .meta {
    font-size: 5vw;
  }

  main h1 {
    font-size: 16vw;
  }
}